body {
    background-color: #ef7e63;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial;
}
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}
input,
select,
textarea {
    outline: none;
}
button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
}
body {
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
}

.container {
    display: flex;
    column-gap: 30px;
    justify-content: center;
    margin-top: 30px;
}
.compare {
    width: 300px;
    height: 200px;
    background-color: #f1be76;
    padding: 30px;
    border-radius: 10px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form {
    display: flex;
    width: 700px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    flex-direction: column;
    /* margin: 0 auto; */
    padding: 10px;
    background-color: #f1be76;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

label {
    margin: 20px 0;
}

input,
textarea {
    margin-bottom: 10px;
    padding: 5px 10px;
    outline: none;
    border: 1px solid #e1eee1;
    border-radius: 3px;
}

.files labelx {
    cursor: pointer;
    padding: 10px 5px;
}
.selection {
    padding: 10px 0;
}

.time {
    display: inline-block;
}
#result {
    min-height: 60px;
}
select {
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #e1eee1;
}
button {
    width: 80px;
    margin: 10px auto;
    padding: 3px 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.formaction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.files {
    width: 40%;
    border: 1px dotted black;
    padding: 5px 10px;
    font-size: 12px;
}
.files input {
    width: 100%;
}
.files label {
}
body {
    position: relative;
}
.modal {
    position: absolute;
    top: 50%;
    left: 31%;
    width: 500px;
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    word-wrap: break-word;
    text-align: center;
    transition: all linear 1s;
}
.modal span {
    font-size: 30px;
    font-weight: 600;
}
.modal p {
    text-align: left;
}
.modal button {
    text-align: center;
}
.random-box {
    display: flex;
    align-items: center;
}

.random-box label {
    display: inline-block;
    width: 150px;
}
